@keyframes loader-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.glp-issue-modal {
    position: absolute;
    display: none;
    padding: 15px;
    background-color: var(--gl-background-color-default, var(--gl-color-neutral-0, #fff));
    border: 1px solid var(--gl-border-color-default);
    border-radius: .25rem;
    width: 300px;
    min-height: 300px;
    z-index: 99999;

    &.glp-modal-visible {
        display: flex;
    }

    .glp-issue-modal-inner {
        display: flex;
        flex-direction: column;
    }

    .glp-modal-loader {
        position: absolute;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;

        .glp-modal-loader-inner {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: var(--gl-background-color-subtle, var(--gl-color-neutral-10, #fbfafd));
            animation: linear 1s infinite loader-animation;
            border-radius: 50%;

            &::after {
                content: '';
                position: absolute;
                background-color: #fff;
                border-radius: 50%;
                top: 5px;
                left: 50%;
                width: 5px;
                height: 5px;
                transform: translateX(-50%);
            }
        }
    }

    .glp-block {
        padding: .75rem 0 1rem;
        border-bottom-style: solid;
        border-bottom-color: var(--gl-border-color-subtle, var(--gl-color-neutral-50, #ececef));
        border-bottom-width: 1px;
        width: 100%;
    }

    .assignee-grid {
        margin-top: 4px;
        gap: 4px
    }
}



