@keyframes loader-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.glp-issue-preview-modal {
    position: absolute;
    display: flex;
    padding: 15px;
    background-color: var(--gl-background-color-default, var(--gl-color-neutral-0, #fff));
    border: 1px solid var(--gl-border-color-default);
    border-radius: .25rem;
    width: 300px;
    min-height: 300px;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-out;
    transition-property: visibility, opacity, transform;
}

.glp-issue-preview-modal.glp-modal-visible {
    visibility: visible;
    opacity: 1;
}

.glp-issue-preview-modal .glp-issue-modal-inner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


.glp-issue-preview-modal .glp-block {
    padding: .75rem 0 1rem;
    border-bottom-style: solid;
    border-bottom-color: var(--gl-border-color-subtle, var(--gl-color-neutral-50, #ececef));
    border-bottom-width: 1px;
    width: 100%;
}

.glp-issue-preview-modal .assignee-grid {
    margin-top: 4px;
    gap: 4px
}


.glp-modal-loader {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.glp-modal-loader.glp-modal-loader-inner {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--gl-background-color-subtle, var(--gl-color-neutral-10, #fbfafd));
    animation: linear 1s infinite loader-animation;
    border-radius: 50%;
}

.glp-modal-loader.glp-modal-loader-inner::after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 5px;
    left: 50%;
    width: 5px;
    height: 5px;
    transform: translateX(-50%);
}


